---
import Layout from "@/layouts/Layout.astro"
import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import HappyFace from "@/components/icons/HappyFace.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Porfolio de Samuel Ernesto - Desarrollador y Programador"
  description="Contrata a Samuel Ernesto para crear tu aplicación web o móvil. Desarrollador Web, Programador y Maestro."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>

    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <HappyFace class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
